#calculator{
    border: 2px solid rgba(171, 235, 213, 0.948);
    border-radius: 5px;
    width: 175px;

}
#display{
margin: 10px;
width: 85%;
font-size: 30px;
font-weight: 900;


}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.btn{
    width: 40px;
    height: 40px;
    margin: 3px;
    color: black;
    background-color: rgb(135, 165, 192);
    border-radius: 5px;
    
}
